/*================================= navbar css===================================== */

.navbar {
  background: #0782ff59;
}

.container-fluid {
  color: white;
}


.navbar-collapse {
  justify-content: right;
  margin-right: 30px;
}

.nav-link {
  border-radius: 6px;
  height: 41px;
  margin-top: 2px;
}

.nav-link:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), #0d6dfd69);
}

/*================================= newsitem css===================================== */

.card {
  overflow: hidden;
  background-color: #a8d3ff87;
}

.card img {
  transition: transform 0.1s ease-in-out;
  overflow: hidden;
}

.card img:hover {
  transform: scale(1.05);
  object-fit: contain;
  cursor: pointer;
}


/*================================= news css===================================== */

.newsitem-constainer {
  justify-self: center;
  justify-items: center;
  margin-bottom: 28px;
}